#create-container {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
}

#todo-post {
    margin : auto;
    width : 500px;
    height: 400px;
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 50px;
}

input[type='text'] {
    width: 100%;
    height : 30px;
    border : none;
    padding-bottom : 2px;
    border-bottom : 2px solid black;
    outline: none;
}

input[type='text']:focus {
    border-bottom: 3px solid black;
    background-color: whitesmoke;
}

label {
    height : 40px;
}

textarea {
    width : 100%;
    height : 150px;
    border : none;
    border-bottom : 2px solid black;
    outline : none;
}

textarea:focus {
    border-bottom : 3px solid black;
    background-color: whitesmoke;
}

#todo-post button {
    margin-top : 40px;
    height : 40px;
    width : 150px;
    background : black;
    color : white;
    font-size : 1.2rem;
    border : none;
}
